.footer{
    width: 100%;
    height: 100%;
    background:  rgb(136, 87, 45);
    margin-top: 80px;
    color: white;
}
.footer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    padding: 3% 8%;
}
.ul-footer{
    list-style: none;
}
.ul-footer li a{
    color: white;
    text-decoration: none;
}
address{
    display: flex;
    flex-direction: column;
    font-style: normal;
    gap: 10px;
}
.address h6{
    font-size: 1.5em;
}
.address-item{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    color: white;
}
.address-item img{
    width: 30px;
}
.address-item a{
    color: white;
    text-decoration: none;
}
.footer .copy{
    font-size: 1.6em;
    padding: 10px;
    text-align: center;
    background: rgb(76, 36, 1);
}
@media screen and (max-width: 358px){
    .footer-section{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .address{
        gap: 20px;
    }
    .address-item{
        gap: 5px;
    }
    .address h6{
        text-align: center;
    }
}